*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f7fa;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Montserrat;
}

.wrapper{
    background: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar{
    background: #1e2939;
    width: 370px;
    padding-top: 40px;
    padding-bottom: 40px;

}
.my-photo{
    width: 370px;
}
.about-me-container{
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.contact-conteiner{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
    }

    .contact-title{
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 20px;
        color: #ffffff;
            }
    .contact-link{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: #444d5a;
        }

        .contact-link-type{
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        color: #ffffff;
        margin-right: 10px;
        }

        .tech-skill-title{
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 20px;
        color: #ffffff;
        }

        .soft-skill-title{
            font-size: 22px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 20px;
            color: #ffffff;
            }

        .tech-skill-conteiner{
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 55px;
            }
        .soft-skill-conteiner{
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 55px;
            }

        .tech-skill-item{
            color: #e9650d;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            margin-left: 15px;
        }
        
        .soft-skill-item{
            color: #e9650d;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            margin-left: 15px;
        }

        .tech-skill-text{
            color: #ffffff;
        }
        .soft-skill-text{
            color: #ffffff;
        }

        .profession{
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 23px;  
        }

        .name{
            font-size: 45px;
            font-weight: 700;
            line-height: 89px;
        }
        .description{
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            margin-top: 24;
        }

        .info-container{
            margin-bottom: 65px;
        }
        .about-me-title{
            font-size: 22px;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 10px;
        }
        .projects-link{
            color: #595959;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
        .tech-name{
            color: #595959;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
        .dots{
            color: #bcbcbc;
            font-weight: 100;
        }
        .project-item{
            font-weight: 700;
            margin-left: 17px;
        }
        .projects-container{
           margin-bottom: 55px;
        }
        .professiion-title{
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            margin-top: 10px;
            margin-bottom: 15px;
        }
        .education-title{
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            margin-top: 10px;
            margin-bottom: 15px;
        }
        .profession-company{
            color: #ff6b08;
        }
        .university{
            color: #ff6b08;
        }
        .profession-time{
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            color: #a8a8a8;
            margin-bottom: 14px;
            }

        .education-time{
            font-size: 12px;
            font-weight: 400;
            line-height: 24px;
            color: #a8a8a8;
            
        }
        .divider{
            color: black;
        }
        .profession-duties{
            margin-top:14px;
            margin-bottom: 30px;
        }
        .profession-duties-item{
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            color: #595955;
            margin-left: 17px;
        }
        .education-place{
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            margin-top: 10px;
            margin-bottom: 15px;
        }
